@layer reset, base, tokens, recipes, utilities;

@layer base {
  :root {
    --font-sans: 'Modern Antiqua', serif;
  }

  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
    background-color: #1A1D21;
    overflow: hidden;
  }

  body {
    margin: 0;
    background-color: #1A1D21;
    overscroll-behavior-y: none;
    overflow: hidden;
  }

  #root {
    min-height: 100vh;
    background-color: #1A1D21;
  }
}